/* strt global rules */
:root{
    --main-color: #ea9010 ;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start componant */
.container .main-heading h2 {
    margin: 0 auto;
    width: fit-content;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    transition: .5s;
    margin-bottom: 60px;
}
.container .main-heading h2::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 2px;
    left: 5px;
    bottom: -30px;
    background-color: var(--main-color);
}
.container .main-heading h2::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
    bottom: -38px;
    left: 10px;
    transform: translateX(-50%);
    transition: .5s;
    animation: moving 8s linear infinite;
}

.container .main-heading h2 span {
    color: var(--main-color);
}
/* end componant */
/* start header */
header{
    position: fixed;
    left: 0;
    top: 1px;
    width: 100%;
    background-color: #333;
    max-height: 75px;
    z-index: 2;
    box-shadow: rgba(50, 50, 93, 0.35) 0px 6px 12px -2px, rgba(0, 0, 0, 0.6) 0px 3px 7px -3px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header .container .logo{
    text-transform: uppercase;
}
@media(max-width:767px){
    header .container .logo{
        font-size: 25px;
    }
}
header .container .logo span{
    color: var(--main-color);
}
header nav .bar{
    color: var(--main-color);
    font-size: 22px;
    cursor: pointer;
    transition: .5s;
}
@media(min-width:992px){
    header nav .bar {
        display: none;
        
        
    }
}
header .container nav ul li{
    display: inline-block;
}
@media(max-width:991px){
    header .container nav ul{
        display: none;
    }
        header .container .icons{
            display: none;
        }
}
header .container nav ul li a{
    padding: 0 10px;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: .5s;
}
header .container nav ul li a.active,
header .container nav ul li a:hover,
header .container .icons i.active,
header .container .icons i:hover{
    color: var(--main-color);
}
header .container input{
    outline: none;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    padding: 5px;
    caret-color: var(--main-color);
    color: white;
    transition: .5s;
    display: none;
}
header .container input::placeholder{
    color: white;
    padding-left: 5px;
}
header .container .icons i{
    padding: 0 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}

/* start landing */
.landing{
    height: 100vh;
    background-image: url(../imgs/bgg.jpg);
    background-size: cover;
    position: relative;
}
.landing .content{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translatey(-50%);
    color: white;
    width: 600px;
    max-width: 100%;
}
@media(max-width:767px){
    .landing .content{
        width: 80%;
    }
}
.landing .content h2{
    font-size: 40px;
}
.landing .content h2 span{
    text-transform: capitalize;
    color: var(--main-color);
}
.landing .content h3{
    font-size: 30px;
    padding-left: 20px;
    margin-top: 10px;
    text-transform: capitalize;
}
.landing .content p{
    line-height: 1.6;
    margin-top: 20px;
    font-size: 16px;
    color: #b2b2b2;
}
.landing .content .btns{
    margin-top: 30px;
    transform: translateX(100px);
}
@media(max-width:767px){
    .landing .content .btns{
    transform: translateX(0);
    margin-top: 40px;
    }
}
.landing .content .btns button{
    outline: none;
    border: none;
    text-transform: capitalize;
    color: white;
    padding:8px 15px;
    background-color: #222;
    border-radius: 10px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.landing .content .btns button:hover{
    background-color: #111;
}
.landing .content .btns button.active{
    background-color: var(--main-color);
}
.landing .content .btns button.active:hover{
    background-color: #c2760b;
}
/* end landing */
/* start about */
.about{
    background-color: #222;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}
.about .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:767px){
    .about .container .content{
        flex-direction: column;
        text-align: center;
    }
}
.about .container .content .image{
    flex-basis: 45%;
}
@media(max-width:767px){
    .about .container .content .image{
        margin-bottom: 30px;
    }
}
.about .container .content .image img{
    max-width: 100%;
}
.about .container .content .box{
    flex-basis: 45%;
}
.about .container .content .box h4{
    text-transform: capitalize;
    font-size: 30px;
}
.about .container .content .box p{
    line-height: 1.6;
    margin-top: 20px;
    color: #b2b2b2;
}
.about .container .content .box button{
        border: none;
        text-transform: capitalize;
        color: white;
        padding: 8px 15px;
        background-color: var(--main-color);
        border-radius: 10px;
        margin-top: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: .3s;
}
.about .container .box button:hover {
    background-color: #c2760b;
}
/* end about */
/* start menu */
.menu{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #111;
    color: white;
}
.menu .content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 40px;
}
.menu .content .box{
    /* background-color: #222; */
    border: 1px solid #444;
    text-align: center;
    padding: 25px;
    border-radius: 6px;
    transition: .5s;
}
.menu .content .box:hover{
    transform: scale(1.1);
    background-color: #222;
}
@media (max-width:767px){
    .menu .content .box:hover{
        transform: scale(1) translateY(-10px);
    }
}
.menu .content .box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}
.menu .content .box span{
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: bold;
}
.menu .content .box span.sort{
    font-size:22px ;
}
.menu .content .box span.price{
    margin-bottom:30px ;
    font-size: 22px;
}
.menu .content .box a{
    color: white;
    background-color: var(--main-color);
        padding: 8px 20px;
        border-radius: 10px;
        text-transform: capitalize;
        font-weight: bold;
        transition: .3s;
}
.menu .content .box a:hover{
    background-color: #c2760b;
}
/* end menu */
/* start products */
.product{
    color: white;
    padding-top:60px ;
    padding-bottom:60px ;
}
.product .content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    gap: 40px;
}
.product .content .box{
    text-align: center;
    border: 1px solid #444;
    padding: 30px 0;
    cursor: pointer;
    border-radius: 6px;
    transition: .5s;
}
.product .content .box:hover{
    transform: scale(1.1);
    background-color: #222;
}
@media(max-width:767px){
.product .content .box:hover {
    transform: scale(1) translateY(-10px);
}
}
.product .content .box .icons i{
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}
.product .content .box .icons i:hover,
.product .content .box .icons i.active{
    color: var(--main-color);
}
.product .content .box img{
    width: 200px;
    max-width: 100%;
    margin-top: 20px;
}
.product .content .box .info{
    margin-top: 20px;
}
.product .content .box .info span{
    display: block;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.product .content .box span.sort{
    font-weight: bold;
}
.product .content .box .info .rates{
    margin-top: 15px;
}
.product .content .box .info .rates i.fa-solid{
    color: #eeb902;
}
/* end products */
/* start review */
.review{
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #222;
}
.review .content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    margin-top: 100px;
}
@media(max-width:767px) {
    .review .content {
        flex-direction: column;
    }
}
.review .content .box{
    border: 1px solid #444;
    padding: 30px ;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.35) 0px 6px 12px -2px, rgba(0, 0, 0, 0.6) 0px 3px 7px -3px;
}
.review .content .box p{
    color: #b2b2b2;
    line-height: 1.8;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 18px;
    position: relative;
}
.review .content .box p::before{
    content: "\f10e";
    position:absolute;
    font-family: "font awesome 5 free";
    font-weight: bold;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    color: white;
}
.review .content .box img{
    border-radius: 50%;
    margin-top: 30px;
}
.review .content .box .info {
    margin-top: 5px;
}
.review .content .box .info span{
    font-size: 22px;
    text-transform: capitalize;
}
.review .content .box .info .rates{
    margin-top: 5px;
}
.review .content .box .info .rates i.fa-solid{
    color: #eeb902;
}
/* end review */
/* start blogs */
.blogs{
    background-color: #111;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
.blogs .content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
}
.blogs .content .box{
    border: 1px solid #444;
    padding-bottom: 15px;
}
.blogs .content .box img{
    width: 100%;
    position: relative;
}
.blogs .content .box img::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}
.blogs .content .box h4{
    font-size: 22px;
    margin-bottom: 10px;
}
.blogs .content .box span{
    color: var(--main-color);
    font-size: 18px;
}
.blogs .content .box .texts{
    padding: 20px;
    text-transform: capitalize;
}
.blogs .content .box p{
    color: #b2b2b2;
    line-height: 1.6;
    margin: 15px 15px 30px;
}
.blogs .content a{
    text-transform: capitalize;
    color: white;
    padding: 8px 15px;
    background-color: var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    margin: 0 auto;
    width: fit-content;
    display: block;
}
.blogs .content a:hover{
    background-color: #c2760b;
}
/* end blogs */
/* start contact */
.contact{
    padding: 20px;
    background-color: #222;
}
.contact .social{
    text-align: center;
}
.contact .social a i{
    color: white;
    font-size: 24px;
    margin-left: 15px;
    transition: .3s;
}
.contact .social a i:hover{
    color: var(--main-color);
    transform: scale(1.2);
}
/* end contact */
/* start footer */
footer{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 22px;
}
footer a {
    color: var(--main-color);
}
/* end footer */

/* start animation */
@keyframes moving{
    50%{
        left: calc(100% - 20px);
    }
    100%{
        left: 10px;
    }

}
/* end animation */